@use '../partials/variables' as *;

* {
    color: $clr-dark;
}

.my-posts {

    &__title {
        font-size: $fs-h1;
        justify-content: center;
        display: flex;
        color: $clr-accent;
    }

    &__post {
        margin: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }
    &__user {
        color: $clr-accent;
        font-weight: $fw-bold;
        font-size: $fs-h3;
    }
    &__post-body {
        white-space: pre-wrap;
        font-size: 1.15rem;
    }
    &__date {
        color: #53535350;
    }   

    &__delete {
        width: fit-content;
        transition: background-color 1s;
        border: 1px;
        border-radius: 5px;
        padding: .5rem;

        &:hover {
            background-color: rgba(246, 102, 102, 0.523);
        }
    }
}

.posting {
    margin: 2rem;
    display: flex;
    flex-direction: column;

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__textarea {
        margin-bottom: 1rem;
        padding: 2rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        resize: none;
        height: 10rem;
        align-items: center;
        font-size: $fs-h3;
    }

    &__button {
        padding: 1rem;
        font-weight: $fw-bold;
        font-size: $fs-h3;
        width: 50%;
        margin: auto;
        max-width: 10rem;
        border-radius: 5px;
        border: .5px solid black;
        cursor: pointer;
        background-color: $clr-button;
    }

    &__button:hover {
        background-color: lighten($clr-accent, 25%);
    }
}

.header {
    background-color: $clr-accent;
    padding-right: $side-margin;
    padding-left: $side-margin;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: .5rem;
    padding-bottom: .5rem;

    &__divide {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }

    &__item {

        width: 35px;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    &__logo {
        width: 80px;
        height: auto;
    }
}

.logout {
    background-color: transparent;
    color: $clr-light;
    border: none;
    width: 35px;

    &:hover {
        border-radius: 10px;
        cursor: pointer;
        background-color: darken($clr-accent, 10%);
    }
}

.home {
    display: flex;
    flex-direction: column;

    &__welcome {
        margin-left: $side-margin;
        font-size: $fs-h3;
    }
}

.filter {
    display: flex;
    margin: auto;
    justify-content: space-between;
    max-width: 40rem;


    &__button {
        padding: .5rem;
        font-weight: $fw-bold;
        width: 8rem;
        background-color: none;
        border-radius: 5px;
        border: .5px solid black;
        cursor: pointer;
        background-color: $clr-button
    }

    &__button:hover {
        background-color: lighten($clr-accent, 25%);

    }
}

.filter__button.active {
    background-color: $clr-accent;
    color: $clr-light;
}


.log-in{
    background-color: $clr-accent;
}