.post {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    &__body {
        white-space: pre-wrap;
    }
}

.posting {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    height: 20rem;
    width: 20rem;
}

.header {
    background-color: rgb(255, 201, 100);
}