@use '../partials/variables' as *;
@use '../partials/mixins' as *;

* {
    color: $clr-dark;
    margin: 0;
    padding: 0;
    height: 100%;
}

.my-posts {
    margin-bottom: 1rem;
    &__title {
        font-size: $fs-h1;
        justify-content: center;
        display: flex;
        color: $clr-accent;
        height: auto;
        margin-bottom: 1rem;
    }

    &__post {
        height: 10rem;
        margin: 1rem;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        display: flex;
        flex-direction: column;

    }

    &__user {
        color: $clr-accent;
        font-weight: $fw-bold;
        font-size: $fs-h3;
    }

    &__post-body {
        white-space: pre-wrap;
        font-size: 1.15rem;
    }

    &__date {
        color: #53535350;
        display: flex;
        align-items: flex-end;
    }

    &__delete {
        width: fit-content;
        transition: background-color 1s;
        border: 1px;
        border-radius: 5px;
        padding: .5rem;
        height: auto;
        margin-top: .5rem;

        &:hover {
            background-color: rgba(246, 102, 102, 0.523);
        }
    }
}

.posting {
    height: auto;
    margin: 2rem;
    display: flex;
    flex-direction: column;

    &__form {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    &__textarea {
        margin-bottom: 1rem;
        padding: 2rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        resize: none;
        height: 10rem;
        align-items: center;
        font-size: $fs-h3;
        border-radius: 10px;
        border: 0.5px solid #ccc;
        font-size: $fs-h3;
        box-sizing: border-box;
        outline: none;

        &:focus {
            border-color: #afafaf;
            border: 1px solid;
            box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
        }
    }

    &__button {
        padding: 1rem;
        font-weight: $fw-bold;
        font-size: $fs-h3;
        width: 50%;
        margin: auto;
        max-width: 10rem;
        border-radius: 5px;
        border: .5px solid black;
        cursor: pointer;
        background-color: $clr-button;
        height: auto;

    }

    &__button:hover {
        background-color: lighten($clr-accent, 25%);
    }
}

.header {
    background-color: $clr-accent;
    padding-right: $side-margin;
    padding-left: $side-margin;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    height: auto;
    @include phone {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    &__divide {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }

    &__item {

        width: 35px;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    &__logo {
        width: 80px;
        height: auto;
    }
}

.logout {
    background-color: transparent;
    color: $clr-light;
    border: none;
    width: 35px;
    height: auto;

    &:hover {
        border-radius: 10px;
        cursor: pointer;
        background-color: darken($clr-accent, 10%);
    }
}

.home {
    display: flex;
    flex-direction: column;

    &__welcome {
        margin-top: 1rem;
        height: auto;
        margin-left: $side-margin;
        font-size: $fs-h3;
    }
}

.filter {
    @include phone {
        display: grid;
        grid-template-columns: repeat(2, 1fr); // Creates two columns
        grid-template-rows: repeat(2, 1fr); // Creates two rows
        gap: 10px; // Adds space between buttons
        margin: auto;
        justify-content: space-between;
        max-width: 40rem;
        height: auto;
        padding: 10px;
        justify-items: center
    }

    display: flex;
    margin: auto;
    justify-content: space-between;
    max-width: 40rem;
    height: auto;
    margin-left: $side-margin;
    margin-right: $side-margin;
    &__button {
        padding: .5rem;
        font-weight: $fw-bold;
        width: 8rem;
        background-color: none;
        border-radius: 5px;
        border: .5px solid black;
        cursor: pointer;
        background-color: $clr-button
    }

    &__button:hover {
        background-color: lighten($clr-accent, 25%);

    }
}

.filter__button.active {
    background-color: $clr-accent;
    color: $clr-light;
}

.log-in {
    background-color: $clr-accent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

&__error {
        color: red;
        font-size: $fs-h3;
        margin-top: 1rem;
        height: auto;
    }
    &__section {
        display: flex;
        flex-direction: column;
        background-color: $clr-accent;
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 0.125rem;
        height: auto;
    }
    &__input,
    &__button {
        
        @include phone {
            width: 90%;
        }

        max-width: 32rem;
        font-weight: $fw-bold;
        font-size: $fs-h3;
        width: 50%;
        height: 2rem;
        padding: 0 1rem;
        border-radius: 10px;
        border: 0.5px solid #ccc;
        font-size: $fs-h3;
        box-sizing: border-box;
        outline: none;

        &:focus {
            border-color: #ffffff;
            box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
        }
    }
    &__button--guest {
        margin-top: 1rem;
    }

    &__button {
        cursor: pointer;
        transition: color 0.3s ease-in-out;
        background-color: $clr-light;

        &:hover {
            color: $clr-accent;
        }
    }

    &__title {
        font-size: $fs-h2;
        display: flex;
        color: $clr-light;
        height: auto;
    }

    &__logo {
        width: 350px;
        height: auto;

        @include phone {
            width: 250px;
        }
    }

    &__account {
        width: 10rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        background-color: $clr-light;
        height: 2rem;
        padding: 0 1rem;
        border-radius: 10px;
        border: 0.5px solid #ccc;
        box-sizing: border-box;
        outline: none;
        cursor: pointer;
        transition: color 0.3s ease-in-out;
        background-color: $clr-light;
        font-weight: $fw-bold;

        &:hover {
            color: $clr-accent;
        }
    }

    &__google {
        width: 32px;
        cursor: pointer;
    }

    &__accounts-section {
        display: flex;
        gap: 1rem;
        height: auto;
    }
}

.create-account {
    background-color: $clr-accent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .125rem;

    &__title {
        height: auto;
        margin-top: 5rem;
        margin-bottom: 1rem;
        color: $clr-light;
        font-size: $fs-h2;
        font-weight: $fw-bold;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 0.125rem;
        height: auto;

        @include phone {
            width: 70%;
        }
    }

    &__input,
    &__button,
    &__return {
        @include phone {
            width: 90%;
        }

        max-width: 32rem;
        font-weight: $fw-bold;
        font-size: $fs-h3;
        width: 50%;
        height: 2rem;
        padding: 0 1rem;
        border-radius: 10px;
        border: 0.5px solid #ccc;
        font-size: $fs-h3;
        box-sizing: border-box;
        outline: none;

        &:focus {
            border-color: #ffffff;
            box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
        }
    }

    &__button,
    &__return {
        cursor: pointer;
        transition: color 0.3s ease-in-out;
        background-color: $clr-light;

        &:hover {
            color: $clr-accent;
        }
    }

    &__return {
        width: 200px;

        @include phone {
            width: 30%;
        }
    }
}

.footer {
    margin: auto;
    height: 1rem;
    padding-bottom: .5rem;
}

